services:

  - type: static
    name: warehouse-3d-frontend
    rootDir: frontend
    buildCommand: ""
    publishDir: "."

  - type: web
    name: warehouse-3d-websocket
    rootDir: backend-node
    env: node
    buildCommand: "npm install"
    startCommand: "node src/websocket/server.js"
    autoDeploy: true
    plan: free

  - type: web
    name: warehouse-3d-python-api
    rootDir: backend-python
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn app.api.main:app --host 0.0.0.0 --port 10000"
    autoDeploy: true
    plan: free
